* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/* Custom CSS Styles */

@import "global";

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
  background-color: $secondary;
  color: black;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 106%;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.375rem;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0;
}
h4 {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
}

h5 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
}
