@import "../../global.scss";

.navbar__ {
  &container {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    padding: 0.5rem 2rem;
    background-color: $background;
    overflow-x: scroll;
  }
  &item {
    list-style: none;
    font-size: 1.25rem;
    letter-spacing: -1px;
    display: flex;
    align-items: baseline;
  }
  &link {
    text-decoration: none;
    color: black;
    width: 7rem;
    display: flex;
    justify-content: center;
  }
}
